<button class="btn btn-dark mb-3" (click)="setShowForm($event)">Add User</button>

<div class="card mb-3" *ngIf="showForm">
  <div class="card-body">

    <form #userForm="ngForm"  (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <label> First Name</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="user.firstName"
               [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
               name="firstName"
               required
               minlength="2"
               #userFirstName="ngModel"
        >
        <div [hidden]="!lastName.errors?.required" class="invalid-feedback"> The last Name is Required ...</div>
        <div [hidden]="!lastName.errors?.minlength" class="invalid-feedback"> The last Name most more than 3 charactor ...</div>
        {{user.firstName}}
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input #lastName="ngModel"
               [(ngModel)]="user.lastName"
               [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}"
               class="form-control"
               name="lastName"
               required
               type="text"
               minlength="3"
               #userLastName="ngModel"
        >
        <div [hidden]="!lastName.errors?.required" class="invalid-feedback"> The last Name is Required ...</div>
        <div [hidden]="!lastName.errors?.minlength" class="invalid-feedback"> The last Name most more than 3 char .. </div>
      </div>
      <div class="form-group">
        <label>email</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="user.email"
               [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
               name="email"
               #userEmail="ngModel"
               required
               email
        >
        <div class="invalid-feedback"> invalid Email </div>
      </div>
      <button type="submit"
              class="btn btn-light btn-block mb-3"
              [disabled]="!userForm.form.valid">Add New User
      </button>
    </form>
  </div>
</div>


<ul class="list-unstyled" *ngIf="users.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive"
      [style.border-color]="user.isActive? 'green' : '' ">
    <div class="row">
      <div class="col-8">
        <h3>{{user.firstName }} {{user.lastName}}
          <small (click)="toggleHide(user)" [ngClass]="user.hide? 'fa fa-plus':'fa fa-minus'"></small>
        </h3>
        <ul class="list-group" *ngIf="! user.hide">
          <li class="list-group-item">Email: {{user.email}}</li>
          <li class="list-group-item">{{user.balance | currency}}</li>
          <li class="list-group-item">{{user.registered  | date}}</li>
        </ul>
      </div>
    </div>
  </li>
</ul>
